@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gowun+Dodum&display=swap");
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .exo-2-<uniquifier > {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
   */

@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

/* .gowun-dodum-regular {
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
   */

#hero h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
}

#hero p {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 500;
  font-style: normal;
}

nav a {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 700;
  font-style: normal;
}