/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #121212;
  color: #e0e0e0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
  display: none;
}

/* Nav Bar */

.navigation {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

nav {
  width: 80%;
  margin: 0 auto;
  border-radius: 24px;
  background: linear-gradient(45deg, #1c1c1c, #303030);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

nav ul li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 700;
  position: relative;
}

nav a:hover {
  background-color: #555;
  transition: background-color 0.3s ease;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #566a7e;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1);
}

nav li:first-child {
  margin-right: auto;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#logo:hover {
  background: transparent;
}

#logo::after {
  display: none;
}

/* Sidebar */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.sidebar.show {
  display: flex;
}

.hideOnpc {
  display: none;
}

/* Hero Section */

#hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent),
    url(../assets/image/map.jpeg) no-repeat top center / cover;
  padding: 2rem;
  height: 80svh;
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 2s forwards;
  border-radius: 12px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Fera Code Pro", monospace;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#hero h1 {
  font-size: 3.5rem;
  line-height: 1.2;
}

#hero p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

#weather-button {
  background-color: #3d79a0;
  color: #e9ecef;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

#weather-button a {
  color: #e9ecef;
  text-decoration: none;
}

#weather-button:hover {
  background-color: #11344b;
}

/* Hide scrollbar for Chrome, Safari and Opera */

#output-text::-webkit-scrollbar {
  display: none;
}

/* Flex container for disaster cards */

.disaster-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

/* Individual disaster cards */

.disaster-card {
  background: #1f1f1f;
  color: #e0e0e0;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0.5rem;
  margin: 1rem;
}

.disaster-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

/* Disaster name */
.disaster-card h1 {
  margin: 10px 0;
  text-align: center;
  font-size: 1.5rem;
}

/* Disaster description */
.disaster-card p {
  padding: 0 10px;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.4;
}

/* Buttons at the top of the card */
.disaster-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-btn,
.right-btn {
  background: linear-gradient(45deg, #273b48, #829ba7);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.left-btn:hover,
.right-btn:hover {
  background-color: #2f556a;
  transform: scale(1.1);
  transition: transform 0.2s;
}

/* Popup Modal */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  color: #1f659a;
  cursor: pointer;
}

.close-btn:hover {
  color: #cad3d5;
}

.cardsTwoBox {
  margin: 0.8rem;
}

.about-section {
  padding: 2rem;
  background-color: #1f1f1f;
  margin: 1rem auto;
  width: 80%;
  border-radius: 24px;
  box-shadow: 2px 2px 12px #081850ab;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-container img {
  margin: 0 auto;
  height: 400px;
  width: 400px;
  padding: 0.5rem;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.about-content {
  max-width: 600px;
  text-align: left;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.about-content a button {
  background-color: #3d79a0;
  color: #e9ecef;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.about-content a button:hover {
  background-color: #11344b;
}
