/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #0b0d17;
}
#earth-image {
  filter: drop-shadow(2px 2px 12px #192aac);
  margin: 2rem;
}
#moon-image {
  filter: drop-shadow(2px 2px 12px #cccccc);
}

#satellite-image {
  filter: drop-shadow(2px 2px 12px #bfa621);
}
.forBg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/image/jupiter.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  padding: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

/* Hamburger icon styling */
.hamburger-menu {
  font-size: 24px;
  color: white;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

/* Desktop navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(85, 85, 85, 0.233);
  border-radius: 12px;
  border: 1px solid rgba(94, 94, 94, 0.247);
  padding: 0.8rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(104, 104, 104, 0.11);
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 10px;
}

nav ul li a:hover {
  transition: all 0.5s ease;
  color: white;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

/* Main section styles */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.destination-section h2 {
  font-size: 23px;
  color: rgba(255, 255, 255, 0.75);
  margin: 0 auto 5rem auto;
  letter-spacing: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planet-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.planet-image img {
  width: 400px;
  height: auto;
  border-radius: 50%;
}

.planet-details {
  max-width: 50%;
  text-align: left;
  margin-left: auto;
}

.planet-tabs a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  margin-right: 15px;
  font-size: 14px;
  letter-spacing: 2px;
  margin-left: 10px;
}

.planet-tabs a.active {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

.planet-details h1 {
  font-size: 90px;
  margin: 20px 0;
}

.planet-details p {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 40px;
}

.planet-stats {
  display: flex;
  justify-content: space-between;
}

.planet-stats div {
  text-align: left;
}

.planet-stats span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
}

.planet-stats h3 {
  font-size: 28px;
  margin-top: 10px;
}

.explore-btn {
  background-image: linear-gradient(45deg, #2a2dc5, #3980dd, #180950);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* TODO: making responsive  */
/* Tablet and Medium Screens */
@media (max-width: 768px) {
  .logo {
    margin-right: auto;
  }

  li a span {
    display: none;
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #0b0d17;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
    width: 200px;
  }

  nav ul li a {
    padding: 0.2rem;
  }

  nav.open {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }

  .planet-info {
    flex-direction: column;
  }

  .planet-details h1 {
    font-size: 60px;
  }

  .planet-details p {
    font-size: 16px;
  }

  .planet-stats {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Smallest Screens (350px and up) */
@media (max-width: 350px) {
  .nav-container {
    padding: 10px;
  }

  .hamburger-menu {
    right: 10px;
    font-size: 20px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  nav {
    top: 50px;
    right: 10px;
    width: 180px;
    padding: 15px;
  }

  nav ul {
    padding: 0.5rem;
  }

  nav ul li a {
    font-size: 14px;
  }

  .planet-info {
    width: 100%;
    padding: 10px;
  }

  .planet-image img {
    width: 400px;
  }

  .planet-details h1 {
    font-size: 40px;
  }

  .planet-details p {
    font-size: 14px;
  }

  .planet-stats h3 {
    font-size: 22px;
  }

  .destination-section h2 {
    font-size: 18px;
    margin-bottom: 2rem;
  }
}
