/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/image/earth-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  color: white;
  background-color: #0b0d17;
}

header {
  padding: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

/* Hamburger icon styling */
.hamburger-menu {
  font-size: 24px;
  color: white;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

/* Desktop navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(85, 85, 85, 0.233);
  border-radius: 12px;
  border: 1px solid rgba(94, 94, 94, 0.247);
  padding: 0.8rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(104, 104, 104, 0.11);
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 10px;
}

nav ul li a:hover {
  transition: all 0.5s ease;
  color: white;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

main {
  border: 1px solid #3752649c;
  /* border-radius: 12px; */
  /*************  ✨ Codeium Command 🌟  *************/
  border-radius: 50%;
  border-radius: 10px/50%/10px/50%;
  /******  1df003f9-d422-4452-b88c-2b222323b84c  *******/
  padding: 0.5rem;
  margin: 1rem;
}

main h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
/* ! Media Queries */

@media (max-width: 768px) {
  .logo {
    margin-right: auto;
  }

  li a span {
    display: none;
  }

  nav {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #0b0d17;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
    width: 200px;
  }

  nav ul li a {
    padding: 0.2rem;
  }

  nav.open {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }
}
